/* ====================================================================================
	COLORS
======================================================================================= */

@import "colors";

// ====================================================================================
// SCSS
// ====================================================================================

// ============================== VARIABLES

$minWidth: 320px;
$container: 1400px;

// ============================== MIXIN

@import "mixin";

/* ====================================================================================
	FONTS
======================================================================================= */

@mixin font {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap");
@import "fonts";

/* ====================================================================================
	KEYFRAMES
======================================================================================= */

@import "keyframes";

/* ====================================================================================
	NORMALIZE
======================================================================================= */

@import "normalize";

/* ====================================================================================
	SHELL
======================================================================================= */

@import "shell";

/* ====================================================================================
	COMPONENTS
======================================================================================= */

@import "components";

/* ====================================================================================
	PARTS
======================================================================================= */

@import "header";
@import "main";

/* ====================================================================================
	POPUPS
======================================================================================= */

@import "popups";
