// ================================================== COMPONENTS

// ============================== SELECTION

::selection {
	background-color: var(--selection);
}

// ============================== BUTTON

.button {
	position: relative;
	z-index: 1;
	overflow: hidden;
	border-radius: 2px;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--btn-text);
	background-color: var(--btn-bg);
	transition: transform 150ms ease-out;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: var(--btn-bg-hover);
		transform: translateY(100%);
		transition: transform 150ms ease-out;
	}
}

.button:hover,
.button:active {
	color: var(--btn-text-hover);

	&::before {
		transform: translateY(0);
	}
}

.button:active {
	transform: scale(0.95);
}

// ============================== MENU

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	&__list {
		display: flex;
	}

	&__item {
		position: relative;
		padding: 10px 16px;
	}

	&__link {
		font-weight: 500;
		font-size: 20px;
		text-transform: capitalize;

		&::before {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0;
			border-radius: 2px;
			width: 100%;
			height: 1px;
			transform: translateX(-50%);
			transition: all 200ms ease-out;
		}

		&:hover::before {
			width: calc(100% - 28px);
			background-color: var(--menu-line);
		}

		&:active::before {
			width: 0;
			transition: width 50ms linear;
		}
	}

	&__button {
		width: 170px;
		height: 50px;
		font-size: 14px;
	}

	.close {
		right: 20px;
		top: 40px;
		display: none;
		width: 40px;
		height: 40px;
		font-size: 20px;
		color: var(--close);
	}
}

.burger {
	position: relative;
	display: none;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
	width: 50px;
	height: 50px;
	background-color: var(--btn-bg);
	cursor: pointer;

	&::before, &::after {
		content: "";
		position: absolute;
		left: 10;
		width: 30px;
		height: 2px;
		background-color: var(--burger-line);
		transition: all 300ms ease 0s;
	}

	&::before {
		bottom: 14px;
	}

	&::after {
		top: 14px;
	}

	&__line {
		border-radius: 2px;
		width: 30px;
		height: 2px;
		background-color: var(--burger-line);
		transition: all 300ms ease 0s;
	}
}

.menu_blue {
	.menu__link {
		color: var(--menu-blue);

		&:hover {
			color: var(--menu-blue-hover);
		}
	}
}

.menu_red {
	.menu__link {
		color: var(--menu-red);

		&:hover {
			color: var(--menu-red-hover);
		}
	}
}

.close {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

// =============== .menu_active

body.menu_active {
	overflow: hidden;
}

.menu.menu_active {
	.burger {
		&::before {
			bottom: 24px;
			transform: rotate(-45deg);
		}

		&::after {
			top: 24px;
			transform: rotate(45deg);
		}

		&__line {
			transform: scale(0);
		}
	}

	.menu__body {
		left: 0;
		transition: left 300ms ease 0s;
	}

	.menu__list {
		display: flex;
		flex-direction: column;
	}
}

// =============== @MEDIA

@media (min-width: 1000px) {
	body.menu_active {
		overflow: auto;
	}

	.menu.menu_active {
		.menu__list {
			flex-direction: row;
		}
	}
}

@media screen and (max-width: 1000px) {
	.menu {
		&__list {
			display: none;
		}

		&__button {
			order: 1;
		}

		&__body {
			position: fixed;
			left: -100%;
			top: 0;
			z-index: 100;
			overflow-x: hidden;
			overflow-y: auto;
			padding: 80px 40px 40px;
			width: 100%;
			height: 100vh;
			background-color: var(--burger-bg);
			transition: left 300ms ease 0s;
		}

		.close {
			display: flex;
		}
	}

	.burger {
		display: flex;
		order: 2;
	}
}
