// Style

// ==================================================
// ==============================

// ================================================== ROOT

:root {
	// === app
	--app: #1d1d1d;
	--app-body: rgba(255, 255, 255, 0.05);
	--app-empty: rgba(255, 255, 255, 0.05);
	--logo: rgba(255, 125, 100, 0.8);
	--logo-bg: rgba(255, 125, 100, 0.2);
	--selection: rgba(255, 255, 255, 0.2);

	// === button
	--btn-bg: rgba(255, 255, 255, 0.1);
	--btn-text: rgba(255, 255, 255, 0.5);
	--btn-bg-hover: rgba(255, 125, 100, 0.2);
	--btn-text-hover: rgba(255, 125, 100, 0.8);

	// === menu
	--menu-line: rgba(255, 255, 255, 0.8);
	--menu-blue: rgba(180, 183, 255, 0.6);
	--menu-red: rgba(255, 255, 255, 0.5);
	--menu-blue-hover: rgba(180, 183, 255, 0.9);
	--menu-red-hover: rgba(255, 125, 100, 0.8);

	// === input
	--input-bg: rgba(255, 255, 255, 0.1);
	--input-bg-hover: rgba(255, 255, 255, 0.2);
	--input-text: rgba(255, 255, 255, 0.6);

	// === input filter
	--input-filter-bg: rgba(255, 255, 255, 0.8);
	--input-filter-text: #1d1d1d;

	// === burger
	--burger-bg: #111;
	--burger-line: rgba(255, 255, 255, 0.6);
	--close: rgba(255, 255, 255, 0.8);

	// === center line
	--center-line: rgba(255, 255, 255, 0.6);
	--section-title: rgba(255, 255, 255, 0.8);

	// === filter
	--filter-bg: rgba(189, 189, 189, 0.1);
	--filter-bg-hover: rgba(255, 255, 255, 0.2);
	--filter-bg-active: rgba(255, 125, 100, 0.6);
	--filter-bg-opt: rgba(189, 189, 189, 0.05);
	--filter-dotted: rgba(189, 189, 189, 0.3);
	--filter-text: rgba(189, 189, 189, 0.6);
	--filter-text-hover: rgba(189, 189, 189, 0.6);
	--filter-text-active: rgba(255, 125, 100, 0.8);

	// === avatar
	--avatar-border: #f66;
	--avatar-border-hover: conic-gradient(from 0deg at 50% 50%, rgba(255, 102, 102, 0) 0deg, #f66 360deg);
	--avatar-name: rgba(255, 255, 255, 0.6);
	--avatar-country: rgba(255, 255, 255, 0.4);
	--avatar-favorite-border: rgba(255, 210, 128, 0.6);
	--avatar-favorite-border-hover: conic-gradient(from 0deg at 50% 50%, rgba(255, 102, 102, 0) 0deg, rgba(255, 210, 128, 1) 360deg);
	--initials-bg: #1d1d1d;
	--initials-text: rgba(255, 255, 255, 0.4);
	--avatar-bg: rgba(255, 255, 255, 0.05);

	// === checkbox
	--checkbox: rgba(255, 255, 255, 1);
	--checkbox-active: rgba(255, 125, 100, 0.8);
}

// ================================================== MIXIN

@mixin font {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}

@mixin adaptive($property, $startWidth, $endWidth, $maxValue, $minValue) {
	#{$property}: $maxValue + px;

	$ratio: #{$maxValue - $minValue};

	@media (max-width: #{$startWidth + px}) {
		#{$property}: calc(#{$minValue + px} + #{$ratio} * ((100vw - #{$endWidth + px}) / (#{$startWidth - $endWidth})));
	}

	@media (max-width: #{$endWidth + px}) {
		#{$property}: $minValue + px;
	}
}

// ================================================== VARIABLES

$minWidth: 375px;
$container: 1400px;

// ================================================== FONTS

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap");
@import "fonts";

// ================================================== NORMALIZE

@import "normalize";

// ================================================== SHELL

#wrapper {
	overflow: hidden;
	width: 100%;
	min-width: $minWidth;
	min-height: 100vh;
}

.app {
	width: 100%;
	background-color: var(--app);

	&__body {
		width: 100%;
		min-height: 100vh;
		background-color: var(--app-body);
	}
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: $container;
}

.app_restrictions {
	@include adaptive("padding-top", 1440, 768, 40, 20);
	@include adaptive("padding-right", 1440, 768, 100, 10);
	@include adaptive("padding-bottom", 1440, 768, 50, 20);
	@include adaptive("padding-left", 1440, 768, 100, 10);

	display: grid;
	grid-row-gap: 30px;
	grid-template: minmax(0, auto) 1fr minmax(0, auto) / 1fr;
	overflow: hidden;
}

// ================================================== COMPONENTS

::selection {
	background-color: var(--selection);
}

// ============================== BUTTON

.button {
	position: relative;
	z-index: 1;
	overflow: hidden;
	border-radius: 2px;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--btn-text);
	background-color: var(--btn-bg);
	transition: transform 150ms ease-out;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: var(--btn-bg-hover);
		transform: translateY(100%);
		transition: transform 150ms ease-out;
	}
}

.button:hover {
	color: var(--btn-text-hover);

	&::before {
		transform: translateY(0);
	}
}

.button:active {
	transform: scale(0.95);
}

// ============================== MENU

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	&__list {
		display: flex;
	}

	&__item {
		position: relative;
		padding: 10px 16px;
	}

	&__link {
		font-weight: 500;
		font-size: 20px;
		letter-spacing: 0.1em;
		text-transform: capitalize;

		&::before {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0;
			border-radius: 2px;
			width: 100%;
			height: 1px;
			transform: translateX(-50%);
			transition: all 200ms ease-out;
		}

		&:hover::before {
			width: calc(100% - 28px);
			background-color: var(--menu-line);
		}

		&:active::before {
			width: 0;
			transition: width 50ms linear;
		}
	}

	&__button {
		width: 170px;
		height: 50px;
		font-size: 14px;
	}
}

.burger {
	position: relative;
	display: none;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
	width: 50px;
	height: 50px;
	background-color: var(--btn-bg);
	cursor: pointer;

	&::before, &::after {
		content: "";
		position: absolute;
		left: 10;
		width: 30px;
		height: 2px;
		background-color: var(--burger-line);
		transition: all 300ms ease 0s;
	}

	&::before {
		bottom: 14px;
	}

	&::after {
		top: 14px;
	}

	&__line {
		border-radius: 2px;
		width: 30px;
		height: 2px;
		background-color: var(--burger-line);
		transition: all 300ms ease 0s;
	}
}

body.menu_active {
	overflow: hidden;
}

.menu.menu_active {
	.burger {
		&::before {
			bottom: 24px;
			transform: rotate(-45deg);
		}

		&::after {
			top: 24px;
			transform: rotate(45deg);
		}

		&__line {
			transform: scale(0);
		}
	}

	.menu__body {
		left: 0;
		transition: left 300ms ease 0s;
	}

	.menu__list {
		display: flex;
		flex-direction: column;
	}
}

.menu_blue {
	.menu__link {
		color: var(--menu-blue);

		&:hover {
			color: var(--menu-blue-hover);
		}
	}
}

.menu_red {
	.menu__link {
		color: var(--menu-red);

		&:hover {
			color: var(--menu-red-hover);
		}
	}
}

.close {
	position: absolute;
	right: 20px;
	top: 40px;
	display: none;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	font-size: 20px;
	color: var(--close);
	cursor: pointer;
}

// ================================================== CONTENT

// ============================== HEADER

.header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
	width: 100%;
}

.logo {
	border-radius: 5px;
	padding: 10px 20px;
	background-color: var(--logo-bg);

	span {
		font-weight: 800;
		font-size: 40px;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		color: var(--logo);
		user-select: none;
	}
}

.search {
	.form {
		height: 40px;

		&__input {
			margin-right: 20px;
			border-radius: 2px;
			padding: 5px 10px;
			width: 190px;
			height: 100%;
			font-weight: 500;
			letter-spacing: 0.05em;
			color: var(--input-text);
			background-color: var(--input-bg);

			&:focus {
				background-color: var(--input-bg-hover);
			}
		}

		&__button {
			width: 90px;
			height: 100%;
			font-size: 12px;
		}
	}
}

// ============================== MAIN

.main {
	.content {
		height: 1000px;
	}
}

// ============================== SECTIONS

.center-line {
	@include adaptive("width", 1024, 375, 500, 300);

	margin: 0 auto;
	height: 1px;
	background-color: var(--center-line);
}

.title {
	@include adaptive("font-size", 1024, 375, 34, 24);

	margin: 30px 0 40px;
	font-weight: 900;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
	color: var(--section-title);
}

.section {
	margin-bottom: 50px;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
	}

	&:last-child {
		margin-bottom: 0;

		.center-line {
			margin-bottom: 40px;
		}
	}
}

// ============================== FILTER

.filter {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;

	&__title {
		display: block;
		margin-right: 10px;
		border-radius: 2px 2px 0 0;
		padding: 10px;
		font-weight: 600;
		font-size: 16px;
		letter-spacing: 0.05em;
		white-space: nowrap;
		text-transform: capitalize;
		color: var(--section-title);
		background-color: var(--filter-bg);
		transition: background 200ms ease;
		cursor: pointer;

		&:hover {
			background-color: var(--filter-bg-hover);
		}

		&:active {
			background-color: var(--filter-bg-active);
		}
	}
}

.filter.filter_active {
	.filter__title {
		background-color: var(--filter-bg-active);

		&:hover {
			background-color: var(--filter-bg-hover);
		}
	}

	.options {
		height: 190px;
		transition: height 200ms ease-in-out;

		&__body {
			transform: translateY(0);
		}
	}
}

.options {
	overflow: hidden;
	border-radius: 0 0 2px 2px;
	width: 100%;
	height: 0;
	background-color: var(--filter-bg-opt);
	transition: height 200ms ease-in-out;

	&__body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 20px;
		width: 100%;
		transform: translateY(-100%);
		transition: transform 200ms ease-in-out;
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
		height: 22px;
		text-transform: capitalize;

		&:last-child {
			margin: 0;
		}
	}

	&__input {
		order: 2;
		border: none;
		font-weight: 500;
		font-size: 12px;
		text-transform: capitalize;
		color: var(--input-filter-text);
		background-color: var(--input-filter-bg);
	}

	&__label {
		order: 1;
		color: var(--filter-text);
	}

	&__input, &__label {
		cursor: pointer;
	}
}

.checkbox_label,
.number__label,
.select__label {
	width: 80px;
}

// CUSTOM CHECKBOX

.checkbox_hidden {
	display: none;
}

.checkbox_hidden + .checkbox_label {
	position: absolute;

	&::before, &::after {
		content: "";
		position: absolute;
		border-radius: 2px;
	}

	&::before {
		right: -14px;
		bottom: 0;
		width: 14px;
		height: 14px;
		background-color: var(--input-filter-bg);
	}

	&::after {
		right: -12px;
		bottom: 2px;
		width: 10px;
		height: 10px;
		background-color: var(--checkbox-active);
		transform: scale(0);
		transition: transform 100ms ease-out;
	}
}

.checkbox_hidden:checked + .checkbox_label {
	&::after {
		transform: scale(1);
	}
}

// CUSTOM INPUT

.number__input {
	border-radius: 2px;
	padding: 3px 5px 3px 10px;
	width: 120px;
}

.select__input {
	outline-style: none;
	border-radius: 2px;
	padding: 3px 5px;
	width: 120px;

	option {
		font-weight: 500;
		font-size: 12px;
		text-transform: capitalize;
	}
}

// ============================== TEACHERS LIST

.top-teachers {
	margin-top: 30px;
	width: 100%;

	&:empty {
		position: relative;
		border-radius: 5px;
		height: 100px;
		background-color: var(--app-empty);

		&::before {
			@include adaptive("font-size", 1400, 375, 30, 18);

			content: "empty";
			position: absolute;
			left: 50%;
			top: 50%;
			font-weight: 800;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: var(--app-empty);
			transform: translate(-50%, -50%);
		}
	}
}

.teachers {
	&__list {
		@include adaptive("grid-column-gap", 1440, 1024, 40, 10);
		@include adaptive("grid-row-gap", 1440, 1024, 40, 10);

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
		width: 100%;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		border-radius: 5px;
		padding: 20px;
		width: 100%;
		background-color: var(--avatar-bg);
	}

	&__name {
		@include adaptive("font-size", 1440, 375, 20, 16);

		flex: 1;
		overflow: hidden;
		margin: 20px 0 10px;
		width: 100%;
		max-width: 130px;
		font-weight: 500;
		text-align: center;
		text-overflow: ellipsis;
		text-transform: capitalize;
		color: var(--avatar-name);
		cursor: pointer;
	}

	&__country {
		@include adaptive("font-size", 1440, 375, 12, 8);

		overflow: hidden;
		max-width: 130px;
		font-size: 12px;
		text-align: center;
		text-overflow: ellipsis;
		text-transform: capitalize;
		color: var(--avatar-country);
		cursor: pointer;
	}
}

.avatar {
	position: relative;
	border-radius: 50%;
	padding: 4px;
	width: 120px;
	height: 120px;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		background-color: var(--avatar-border);
	}

	&__picture {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 300ms ease-in-out;
		}
	}

	&__initials {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--initials-bg);

		h3 {
			font-weight: 600;
			font-size: 32px;
			text-transform: capitalize;
			color: var(--initials-text);
		}
	}

	&__picture, &__initials {
		position: relative;
		z-index: 2;
		overflow: hidden;
		border-radius: 50%;
		width: 100%;
		height: 100%;
	}
}

.avatar:hover {
	&::before {
		background: var(--avatar-border-hover);
		animation: rotation 1s linear infinite;
	}

	.avatar__picture {
		img {
			transform: scale(1.1);
		}
	}

	.avatar__initials {
		h3 {
			color: var(--avatar-border);
		}
	}
}

@keyframes rotation {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

// ===

.teachers__item.teachers_favorite {
	.teachers {
		&__name {
			color: var(--avatar-favorite-border);
		}
	}

	.avatar {
		&::before {
			background-color: var(--avatar-favorite-border);
		}

		&::after {
			content: "";
			position: absolute;
			right: -10px;
			top: -5px;
			width: 20px;
			height: 20px;
			background: url("../img/star.svg") center no-repeat;
			transform: scale(1.2);
		}
	}

	.avatar:hover {
		&::before {
			background: var(--avatar-favorite-border-hover);
		}

		.avatar__initials {
			h3 {
				color: var(--avatar-favorite-border);
			}
		}
	}
}

// ============================== FOOTER

// ================================================== MEDIA

// ============================== MAX 768 px

@media (max-width: 768px) {
	// == SHELL
	.container {
		padding: 0;
	}

	// HEADER
	.panel {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		width: 100%;

		span {
			font-size: 30px;
		}
	}

	.search {
		width: 100%;

		.form {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;

			&__input {
				flex: 1 1;
				margin-right: 5px;
			}
		}
	}
}

// ============================== MAX 1000 px

@media (max-width: 1000px) {
	// MENU
	.menu {
		&__list {
			display: none;
		}

		&__button {
			order: 1;
		}

		&__body {
			position: fixed;
			left: -100%;
			top: 0;
			z-index: 100;
			overflow-x: hidden;
			overflow-y: auto;
			padding: 80px 40px 40px;
			width: 100%;
			height: 100vh;
			background-color: var(--burger-bg);
			transition: left 300ms ease 0s;
		}
	}

	.burger {
		display: flex;
		order: 2;
	}

	.close {
		display: flex;
	}
}

// ============================== MIN 1000 px

@media (min-width: 1000px) {
	body.menu_active {
		overflow: auto;
	}

	.menu.menu_active {
		.menu__list {
			flex-direction: row;
		}
	}
}
